<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        classpath:/org/springframework/beans/factory/xml/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop 
        classpath:/org/springframework/aop/config/spring-aop-3.0.xsd
        http://www.springframework.org/schema/context
        classpath:/org/springframework/context/config/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx 
        classpath:/org/springframework/transaction/config/spring-tx-3.0.xsd">

	<!-- DAO配置 -->
	<context:property-placeholder
		location="classpath:config/properties/dataSource.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${data_driver}" />
		<property name="url" value="${data_url}" />
		<property name="username" value="${data_username}" />
		<property name="password" value="${data_password}" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="typeAliasesPackage" value="com.bigData.fanal.dao" />
		<property name="mapperLocations">
			<list>
				<value>classpath:com/bigData/fanal/mapper/*_mapper.xml</value>
			</list>
		</property>
		<property name="typeHandlersPackage" value="com.bigData.fanal.dao" />
		<!-- <property name="plugins"> <list> <ref bean="myBatisSQLInterceptor"/> 
			</list> </property> -->
	</bean>

	<!-- 配置事务管理器 -->
	<tx:annotation-driven />
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.bigData.fanal.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>

</beans>